body {
    font-family: monospace;
    background: #fafafa;
    margin: 2rem;
}

body * {
    margin: 0;
    padding: 0;
}

.content {
    display: grid;
    border: 0.25rem solid black;
    grid-template-areas: 'header header header'
                         'text1 text1 text1'
                         '. input scoreboard'
                         'btn1 btn2 scoreboard';
    padding: 3rem 2rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    height: 44rem;
    justify-items: center;
    align-items: start;
    align-content: space-around;
}

.gameHeader {
    font-size: 6rem;
    grid-area: header;
}

.userInputPrompt {
    font-size: 3rem;
    grid-area: text1;
}

.userInput {
    outline: none;
    width: 14rem;
    font-size: 3rem;
    text-align: center;
    border: 0.1875rem solid black;
    border-radius: 0.625rem;
    grid-area: input;
}

@keyframes borderPulse {
  0% { border-color: black;background-color: #fafafa; }
  50% { border-color: red;background-color: #ff8080; }
  100% { border-color: black;background-color: #fafafa; }
}

.borderPulse {
    animation: borderPulse 2s;
}

.guessBtn, .restartBtn {
    height: 5rem;
    width: 12rem;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #556f3b;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.125s linear;
}

button:hover:not(.disabled), button:focus-visible:not(.disabled) {
    background-color: #70934d;
}

.guessBtn {
    grid-area: btn2;
}

.restartBtn {
    display: none;
    grid-area: btn1;
}

.disabled {
    filter: contrast(0.5);
    cursor: not-allowed;
}

.scoreboard {
    display: grid;
    border: 0.1875rem solid black;
    border-radius: 0.5rem;
    width: 22rem;
    gap: 0.125rem;
    background-color: black;
    padding: 0.0625rem;
    grid-area: scoreboard;
}

.scoreboard > * {
    background-color: white;
    text-align: center;
    padding: 0.25rem 1rem;
}

.scoreboardEntry {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    font-size: 1rem;
}

.scoreboardHeader {
    font-size: 1.375rem;
    margin: 0 0 0.125rem 0;
}