{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="content">
    <h1 class="gameHeader">Zahlenraten</h1>
    <span class="userInputPrompt">Gib eine Zahl ein, um zu raten:</span>

    <form action="{{ url_for('main.guess') }}" method="post">
    <input name="guess" type="number" class="userInput" placeholder="###" min="0" max="100"/>
    <button class="guessBtn disabled">Spiel starten</button>
    <button type="submit" class="restartBtn">Neues Spiel</button>
    </form>
    <div class="scoreboard">
        <span class="scoreboardHeader">Highscores</span>
        <div class="scoreboardEntry">
            <span class="scoreboardEntryNumber">1.</span>
            <span class="scoreboardEntryName">Kevin</span>
            <span class="scoreboardEntryScore">69</span>
        </div>
        <div class="scoreboardEntry">
            <span class="scoreboardEntryNumber">2.</span>
            <span class="scoreboardEntryName">Kevin</span>
            <span class="scoreboardEntryScore">69</span>
        </div>
        <div class="scoreboardEntry">
            <span class="scoreboardEntryNumber">3.</span>
            <span class="scoreboardEntryName">Kevin</span>
            <span class="scoreboardEntryScore">69</span>
        </div>
    </div>
</div>
<!-- <div class="adsPopup">
    <span class="adsPopupText">Hier könnte Ihre Werbung stehen</span>
    <button class="closePopupBtn">x</button>
</div> -->

{% if guess %}
    <p>Guess received: {{ guess }}</p>
{% else %}
    <p>No guess received yet.</p>
{% endif %}



{% endblock %}
